<main>
  <h1>
    {{! Welcome message }}
    {{#if logged_in}}
      Welcome
      {{name}}!
    {{else}}
      Welcome to the homepage
      <p>Login to explore more features, including adding, editing, and
        commenting on blogs. Discover the full experience of our community!</p>
    {{/if}}

    {{! Rendering blogs }}
    {{#if logged_in}}
      {{#each blogs}}
        <div class="blog-post">
          <h2>{{this.blog_title}}</h2>
          <p>{{this.blog_body}}</p>
          <p>Posted by: {{user.name}}</p>
          <p>Date: {{format_date this.blog_date}}</p>
        </div>
      {{/each}}
    {{/if}}
  </h1>
</main>

<div
  id="session-details"
  data-user-id="{{user_id}}"
  data-name="{{name}}"
  data-email="{{email}}"
  data-logged-in="{{logged_in}}"
  class="text-center"
></div>